<phpunit colors="true"
         backupGlobals="false"
         bootstrap="vendor/autoload.php"
         syntaxCheck="false"
         verbose="true"
         >
    <testsuites>
        <testsuite name="Random Avatar Test Suite">
            <directory suffix="Tests.php">./tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">./src</directory>
        </whitelist>
    </filter>
    <logging>
        <log
            type="coverage-html"
            target="./tmp/coverage/"
            charset="UTF-8"
            yui="true"
            highlight="true"
            lowUpperBound="50"
            highLowerBound="80"
            />
        <log type="coverage-clover" target="./tmp/clover.xml" charset="UTF-8"/>
    </logging>
</phpunit>
